In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd /content/drive/MyDrive/boaz

/content/drive/MyDrive/boaz

In [35]:
#데이터 리스트 확인
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import random
random.seed(1)
import warnings
warnings.filterwarnings(action='ignore')
pd.set_option('display.max_columns', None)
path = '/content/drive/MyDrive/boaz'
name_list = os.listdir(path + '/BOAZXNIA')
print(len(name_list))
for idx, name in enumerate(name_list):
  print(idx+1, name)

31
1 TN_K_DRAMA_CST_AUDERT_INFO_202108.csv
2 TN_K_DRAMA_CST_AUDERT_INFO_202107.csv
3 TN_K_DRAMA_CST_AUDERT_INFO_202104.csv
4 TN_K_DRAMA_CST_AUDERT_INFO_202105.csv
5 TN_K_DRAMA_CST_AUDERT_INFO_202101.csv
6 TN_K_DRAMA_CST_AUDERT_INFO_202111.csv
7 TN_K_DRAMA_CST_AUDERT_INFO_202112.csv
8 TN_K_DRAMA_CST_AUDERT_INFO_202110.csv
9 TN_K_DRAMA_CST_AUDERT_INFO_202012.csv
10 TN_K_DRAMA_CST_AUDERT_INFO_202011.csv
11 TN_K_DRAMA_CST_AUDERT_INFO_202109.csv
12 KC_music_chart_us_2019.csv
13 KC_music_chart_vn_2019.csv
14 KC_music_chart_gb_2019.csv
15 KC_music_chart_au_2019.csv
16 ANTI_SYMPATHY_INFO_2021(반한류).csv
17 SVC_USE_INTEN_INFO_2021(제품및서비스사용의향).csv
18 HOPE_KSTAR_INFO_2021(만나고싶은한류스타).csv
19 CLTUR_CNTNTS_GENRE_OBSTRC_FCTR_INFO_2021(장르별저해요인).csv
20 KC_YOUTUBE_VIEW_US_2019.csv
21 KC_YOUTUBE_VIEW_VN_2019.csv
22 KC_YOUTUBE_VIEW_AU_2019.csv
23 KC_YOUTUBE_VIEW_GB_2019.csv
24 KC_YOUTUBE_VIEW_ID_2019.csv
25 CLTUR_CNTNTS_CNSMP_INFO_2021(문화컨텐츠소비비중).csv
26 CLTUR_POPULAR_DGREE_INFO_2021(컨텐츠호감도인기도).csv
27 REMIND_IMAGE_INFO_2021(연상이미지).csv
28 KC_music_chart_id_2019.csv
29 KC_KEYWORD_TWITTER_FANCLUB_2019(팬클럽키워드).csv
30 KC_KEYWORD_TWITTER_ARTIST_2019(아티스트키워드).csv
31 KC_KEYWORD_TWITTER_ENTERTAINMENT_2019(기획사키워드).csv

In [38]:
#모든 데이터 불러오기
for idx, name in enumerate(name_list):
  globals()['df{}'.format(idx+1)] = pd.read_csv(path+'/BOAZXNIA/'+name)

In [39]:
#K-드라마 프로그램, 출연진정보, 채널, 시청률 등의 TV 콘텐츠 DB 데이터
display(df1)
print(df1.columns)

,BRDCST_DE,BRDCST_END_DE,CHNNEL_NM,PROGRM_BEGIN_TIME,PROGRM_END_TIME,PROGRM_NM,PROGRM_DC,BRDCST_TME_NM,PROGRM_BRDCST_AREA_NM,BRDCST_TIME,PROGRM_GENRE_LCLAS_NM,PROGRM_GENRE_MLSFC_NM,PROGRM_GENRE_SCLAS_NM,MALE_4_9YO_WTCHNG_RT,MALE_N10S_WTCHNG_RT,MALE_N20S_WTCHNG_RT,MALE_N30S_WTCHNG_RT,MALE_N40S_WTCHNG_RT,MALE_N50S_WTCHNG_RT,MALE_N60S_ABOVE_WTCHNG_RT,FEMALE_4_9YO_WTCHNG_RT,FEMALE_N10S_WTCHNG_RT,FEMALE_N20S_WTCHNG_RT,FEMALE_N30S_WTCHNG_RT,FEMALE_N40S_WTCHNG_RT,FEMALE_N50S_WTCHNG_RT,FEMALE_N60S_ABOVE_WTCHNG_RT,CST_CN
0,20210801,20210801,SBS,20000,31445,라켓소년단,NaN,15회,서울/경기/부산/대전/대구/광주/울산/강원/충남/전남/경북/경남/제주,11445,드라마&영화,드라마,미니시리즈,0.23962,0.18001,0.08991,1.12753,0.64466,0.58488,0.43659,0.32091,0.45151,0.43013,0.64680,0.86720,0.61514,0.77183,"윤현종역:김상경,라영자역:오나라,윤해강역:탕준상,방윤담역:손상연,나우찬역:최현욱,이..."
1,20210801,20210801,TV CHOSUN,153041,164014,결혼작사이혼작곡2,NaN,13회,전국,10933,드라마&영화,드라마,주말연속극,0.06165,0.27627,0.95804,0.85298,1.28359,0.57190,2.38881,0.00000,0.01466,0.32712,1.49357,1.00758,1.98685,3.03401,"판사현역:성훈,신유신역:이태곤,사피영역:박주미,부혜령역:이가령,송원역:이민영,이시은..."
2,20210801,20210801,TV CHOSUN,211310,214329,결혼작사이혼작곡2,<1부>,14회,전국,3019,드라마&영화,드라마,주말연속극,2.44652,1.20180,2.53079,1.15588,1.20438,4.92556,5.80924,1.27273,1.38622,1.32901,2.54220,4.61586,7.56598,9.09593,"판사현역:성훈,신유신역:이태곤,사피영역:박주미,부혜령역:이가령,송원역:이민영,이시은..."
3,20210801,20210801,TV CHOSUN,214448,222525,결혼작사이혼작곡2,<2부>,14회,전국,4037,드라마&영화,드라마,주말연속극,2.69161,1.61096,3.13901,1.66147,2.18192,6.42221,7.39367,2.11630,2.80924,2.17391,3.61670,5.42018,9.33722,12.02432,"판사현역:성훈,신유신역:이태곤,사피영역:박주미,부혜령역:이가령,송원역:이민영,이시은..."
4,20210801,20210801,tvN,20000,24914,보이스시즌4,NaN,14회,전국,4914,드라마&영화,드라마,미니시리즈,0.00000,0.36868,0.15194,0.68527,0.90783,0.53059,0.34765,0.00000,1.03820,0.34371,0.01998,1.16645,0.39389,0.46824,"데릭조역:송승헌,강권주역:이하나,동방민역:이규형,박은수역:손은서,심대식역:백성현,박..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4693,20210831,20210831,JNG KOREA,65928,74720,이웃집꽃미남,NaN,6회,전국,4752,드라마&영화,드라마,미니시리즈,0.00000,0.00000,0.00000,0.00000,0.00000,0.00973,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.01131,0.00000,"고독미역:박신혜,엔리케금역:윤시윤,오진락역:김지훈,차도휘역:박수진,유동훈역:고경표,..."
4694,20210831,20210831,JNG KOREA,110216,113429,귀부인,NaN,13회,전국,3213,드라마&영화,드라마,일일연속극,0.00000,0.00000,0.00000,0.16659,0.00000,0.00000,0.09183,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,"윤신애역:서지혜,이미나역:박정아,한정민역:현우성,박영민역:정성운,홍선주역:장미희,방..."
4695,20210831,20210831,JNG KOREA,114812,121936,귀부인,NaN,14회,전국,3124,드라마&영화,드라마,일일연속극,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,"윤신애역:서지혜,이미나역:박정아,한정민역:현우성,박영민역:정성운,홍선주역:장미희,방..."
4696,20210831,20210901,JNG KOREA,233007,1704,이웃집꽃미남,NaN,7회,전국,4657,드라마&영화,드라마,미니시리즈,0.00000,0.00000,0.00000,0.00585,0.00000,0.00962,0.00000,0.00000,0.00000,0.00000,0.01592,0.00000,0.00711,0.00202,"고독미역:박신혜,엔리케금역:윤시윤,오진락역:김지훈,차도휘역:박수진,유동훈역:고경표,..."
4697,20210901,20210901,JNG KOREA,2906,11642,이웃집꽃미남,NaN,8회,전국,4736,드라마&영화,드라마,미니시리즈,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.01013,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,"고독미역:박신혜,엔리케금역:윤시윤,오진락역:김지훈,차도휘역:박수진,유동훈역:고경표,..."

Index(['BRDCST_DE', 'BRDCST_END_DE', 'CHNNEL_NM', 'PROGRM_BEGIN_TIME',
       'PROGRM_END_TIME', 'PROGRM_NM', 'PROGRM_DC', 'BRDCST_TME_NM',
       'PROGRM_BRDCST_AREA_NM', 'BRDCST_TIME', 'PROGRM_GENRE_LCLAS_NM',
       'PROGRM_GENRE_MLSFC_NM', 'PROGRM_GENRE_SCLAS_NM',
       'MALE_4_9YO_WTCHNG_RT', 'MALE_N10S_WTCHNG_RT', 'MALE_N20S_WTCHNG_RT',
       'MALE_N30S_WTCHNG_RT', 'MALE_N40S_WTCHNG_RT', 'MALE_N50S_WTCHNG_RT',
       'MALE_N60S_ABOVE_WTCHNG_RT', 'FEMALE_4_9YO_WTCHNG_RT',
       'FEMALE_N10S_WTCHNG_RT', 'FEMALE_N20S_WTCHNG_RT',
       'FEMALE_N30S_WTCHNG_RT', 'FEMALE_N40S_WTCHNG_RT',
       'FEMALE_N50S_WTCHNG_RT', 'FEMALE_N60S_ABOVE_WTCHNG_RT', 'CST_CN'],
      dtype='object')

* 문제: 20.11-21.12 월별 데이터인데 중간에 데이터가 없는 달이 존재

In [40]:
#5개국 음원순위 데이터
display(df12)
print(df12.columns)

,Survey_Base_Date_DE,Country_CD,Music_NM,Artist_NM,Music_RN,FILE_NAME,BASE_YMD
0,2020-01-07,us,Younha,Winter Flower (feat. RM),1,KC_music_chart_us_2019,2019
1,2020-01-07,us,ATEEZ,Answer,2,KC_music_chart_us_2019,2019
2,2020-01-07,us,ATEEZ,Horizon,3,KC_music_chart_us_2019,2019
3,2020-01-07,us,Red Velvet,Psycho,4,KC_music_chart_us_2019,2019
4,2020-01-07,us,ATEEZ,Precious,5,KC_music_chart_us_2019,2019
...,...,...,...,...,...,...,...
2195,2020-01-28,us,Ailee,Just Look for You,96,KC_music_chart_us_2019,2019
2196,2020-01-28,us,BTS,DNA,97,KC_music_chart_us_2019,2019
2197,2020-01-28,us,BTS,Danger,98,KC_music_chart_us_2019,2019
2198,2020-01-28,us,GD X TAEYANG,GOOD BOY,99,KC_music_chart_us_2019,2019
2199,2020-01-28,us,GOT7,Just Right,100,KC_music_chart_us_2019,2019

Index(['Survey_Base_Date_DE', 'Country_CD', 'Music_NM', 'Artist_NM',
       'Music_RN', 'FILE_NAME', 'BASE_YMD'],
      dtype='object')

* 문제: 20.01.07-20.01.28

In [41]:
#5개국 유튜브 데이터
display(df20)
print(df20.columns)

,Survey_Date_DE,Country_CD,Artist_NM,Views_CO,FILE_NAME,BASE_YMD
0,2019-12-16,us,BTS(방탄소년단),1059194,KC_YOUTUBE_VIEW_US_2019,2019
1,2019-12-16,us,Blackpink,399085,KC_YOUTUBE_VIEW_US_2019,2019
2,2019-12-16,us,TWICE(트와이스),311839,KC_YOUTUBE_VIEW_US_2019,2019
3,2019-12-16,us,EXO(엑소),234232,KC_YOUTUBE_VIEW_US_2019,2019
4,2019-12-16,us,MAMAMOO (마마무),194163,KC_YOUTUBE_VIEW_US_2019,2019
...,...,...,...,...,...,...
527,2020-01-12,us,CLC,30865,KC_YOUTUBE_VIEW_US_2019,2019
528,2020-01-12,us,IZ*ONE (아이즈원),22055,KC_YOUTUBE_VIEW_US_2019,2019
529,2020-01-12,us,WINNER,16309,KC_YOUTUBE_VIEW_US_2019,2019
530,2020-01-12,us,NCT,10165,KC_YOUTUBE_VIEW_US_2019,2019
531,2020-01-12,us,오마이걸(OH MY GIRL),9541,KC_YOUTUBE_VIEW_US_2019,2019

Index(['Survey_Date_DE', 'Country_CD', 'Artist_NM', 'Views_CO', 'FILE_NAME',
       'BASE_YMD'],
      dtype='object')

* 문제: 19.12.16-20.01.12

In [42]:
#트위터 키워드 - 팬클럽
display(df29)
print(df29.columns)

,Social_Data_Collection_Date_YM,Collection_CH_NM,Artist_NM,Fanclub_NM,Twitter_KEY_W,Keyword_FQ,FILE_NAME,BASE_YMD
0,2017-01,Twitter,BTS,army,bts,502,KC_KEYWORD_TWITTER_FANCLUB_2019,2019
1,2017-01,Twitter,BTS,army,armi,466,KC_KEYWORD_TWITTER_FANCLUB_2019,2019
2,2017-01,Twitter,BTS,army,bangtan,75,KC_KEYWORD_TWITTER_FANCLUB_2019,2019
3,2017-01,Twitter,BTS,army,vote,59,KC_KEYWORD_TWITTER_FANCLUB_2019,2019
4,2017-01,Twitter,BTS,army,love,54,KC_KEYWORD_TWITTER_FANCLUB_2019,2019
...,...,...,...,...,...,...,...,...
3347,2019-11,Twitter,itzy,midzy,tour,7,KC_KEYWORD_TWITTER_FANCLUB_2019,2019
3348,2019-11,Twitter,itzy,midzy,one,6,KC_KEYWORD_TWITTER_FANCLUB_2019,2019
3349,2019-11,Twitter,itzy,midzy,wait,4,KC_KEYWORD_TWITTER_FANCLUB_2019,2019
3350,2019-11,Twitter,itzy,midzy,mutual,4,KC_KEYWORD_TWITTER_FANCLUB_2019,2019
3351,2019-11,Twitter,itzy,midzy,itzyshowcaseinjkt,3,KC_KEYWORD_TWITTER_FANCLUB_2019,2019

Index(['Social_Data_Collection_Date_YM', 'Collection_CH_NM', 'Artist_NM',
       'Fanclub_NM', 'Twitter_KEY_W', 'Keyword_FQ', 'FILE_NAME', 'BASE_YMD'],
      dtype='object')

In [43]:
#트위터 키워드 - 아티스트
display(df30)
print(df30.columns)

,Social_Data_Collection_Date_YM,Collection_CH_NM,Artist_NM,Twitter_KEY_W,Keyword_FQ,FILE_NAME,BASE_YMD
0,2017-01,Twitter,day6,watch,62,KC_KEYWORD_TWITTER_ARTIST_2019,2019
1,2017-01,Twitter,day6,first,46,KC_KEYWORD_TWITTER_ARTIST_2019,2019
2,2017-01,Twitter,day6,video,23,KC_KEYWORD_TWITTER_ARTIST_2019,2019
3,2017-01,Twitter,day6,month,23,KC_KEYWORD_TWITTER_ARTIST_2019,2019
4,2017-01,Twitter,day6,like,20,KC_KEYWORD_TWITTER_ARTIST_2019,2019
...,...,...,...,...,...,...,...
7435,2019-11,Twitter,ateez,exo,255,KC_KEYWORD_TWITTER_ARTIST_2019,2019
7436,2019-11,Twitter,ateez,txt,237,KC_KEYWORD_TWITTER_ARTIST_2019,2019
7437,2019-11,Twitter,ateez,sugar,216,KC_KEYWORD_TWITTER_ARTIST_2019,2019
7438,2019-11,Twitter,ateez,giveaway,210,KC_KEYWORD_TWITTER_ARTIST_2019,2019
7439,2019-11,Twitter,ateez,friend,172,KC_KEYWORD_TWITTER_ARTIST_2019,2019

Index(['Social_Data_Collection_Date_YM', 'Collection_CH_NM', 'Artist_NM',
       'Twitter_KEY_W', 'Keyword_FQ', 'FILE_NAME', 'BASE_YMD'],
      dtype='object')

In [44]:
#트위터 키워드 - 기획사
display(df31)
print(df31.columns)

,Social_Data_Collection_Date_YM,Collection_CH_NM,Entertainment_NM,Twitter_KEY_W,Keyword_FQ,FILE_NAME,BASE_YMD
0,2017-01,Twitter,yg,blackpink,225,KC_KEYWORD_TWITTER_ENTERTAINMENT_2019,2019
1,2017-01,Twitter,yg,bts,75,KC_KEYWORD_TWITTER_ENTERTAINMENT_2019,2019
2,2017-01,Twitter,yg,kpop,60,KC_KEYWORD_TWITTER_ENTERTAINMENT_2019,2019
3,2017-01,Twitter,yg,ygentoffici,40,KC_KEYWORD_TWITTER_ENTERTAINMENT_2019,2019
4,2017-01,Twitter,yg,jackson,39,KC_KEYWORD_TWITTER_ENTERTAINMENT_2019,2019
...,...,...,...,...,...,...,...
3868,2019-11,Twitter,sm,smtownglob,74,KC_KEYWORD_TWITTER_ENTERTAINMENT_2019,2019
3869,2019-11,Twitter,sm,note,58,KC_KEYWORD_TWITTER_ENTERTAINMENT_2019,2019
3870,2019-11,Twitter,sm,nct,55,KC_KEYWORD_TWITTER_ENTERTAINMENT_2019,2019
3871,2019-11,Twitter,sm,group,52,KC_KEYWORD_TWITTER_ENTERTAINMENT_2019,2019
3872,2019-11,Twitter,sm,music,49,KC_KEYWORD_TWITTER_ENTERTAINMENT_2019,2019

Index(['Social_Data_Collection_Date_YM', 'Collection_CH_NM',
       'Entertainment_NM', 'Twitter_KEY_W', 'Keyword_FQ', 'FILE_NAME',
       'BASE_YMD'],
      dtype='object')

In [45]:
#만나고싶은한류스타
display(df18)
print(df18.columns)

,STAR_NM,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,REPRT_YEAR_CN,EXAMIN_COUNTRY_NM
0,이민호,6.8,9.6,10.4,8.8,4.8,9.0,8.0,2019,중국
1,전지현,9.2,6.8,8.0,5.6,9.6,10.0,4.0,2019,중국
2,송혜교,6.4,8.0,3.2,7.2,9.6,10.0,4.0,2019,중국
3,송중기,4.8,8.4,9.6,11.2,2.4,4.0,0.0,2019,중국
4,김희선,5.2,4.0,0.0,2.4,10.4,5.0,8.0,2019,중국
...,...,...,...,...,...,...,...,...,...,...
1141,블랙핑크,5.7,7.4,5.7,12.8,2.2,7.4,0.0,2021,남아공
1142,싸이,5.7,6.3,3.8,4.3,4.3,18.5,0.0,2021,남아공
1143,지드래곤,2.3,3.2,0.0,4.3,4.3,3.7,0.0,2021,남아공
1144,엑소,2.3,2.1,3.8,2.1,0.0,3.7,0.0,2021,남아공
1145,전정국/정국,2.3,0.0,0.0,2.1,0.0,3.7,0.0,2021,남아공

Index(['STAR_NM', 'MALE_RATE', 'FEMALE_RATE', 'ALL_N10S_RATE', 'ALL_N20S_RATE',
       'ALL_N30S_RATE', 'ALL_N40S_RATE', 'ALL_N50S_RATE', 'REPRT_YEAR_CN',
       'EXAMIN_COUNTRY_NM'],
      dtype='object')

* 가수+배우 통합

In [46]:
#문화컨텐츠소비비중 
display(df25)
print(df25.columns)

,IEM_NM,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,REPRT_YEAR_CN,EXAMIN_COUNTRY_NM,CNTNTS_URL
0,한국 문화콘텐츠 소비(시간),18,16.65,19.69,22.03,20.68,13.26,13.44,19.87,2021,중국,드라마
1,소비 비중(%),29,27.92,30.80,29.99,31.80,26.40,28.36,30.91,2021,중국,드라마
2,월평균 지출 금액($),7,8.12,6.82,6.08,7.14,6.42,5.46,20.56,2021,중국,드라마
3,한국 문화콘텐츠 소비(시간),13,11.76,14.76,14.25,13.65,13.17,8.31,15.45,2021,중국,예능
4,소비 비중(%),28,25.52,31.29,24.85,27.79,28.91,30.65,37.55,2021,중국,예능
...,...,...,...,...,...,...,...,...,...,...,...,...
2593,월평균 지출 금액($),9,8.50,8.57,8.80,9.11,8.48,8.55,7.02,2021,아르헨티나,패션
2594,소비 비중(%),19,20.35,18.02,17.82,21.56,18.71,13.50,13.00,2021,아르헨티나,뷰티
2595,월평균 지출 금액($),8,9.01,8.17,9.34,7.66,9.86,7.42,4.96,2021,아르헨티나,뷰티
2596,소비 비중(%),13,13.58,12.95,15.45,16.47,9.63,12.19,11.07,2021,아르헨티나,음식
2597,월평균 지출 금액($),8,8.31,7.95,9.89,7.56,7.25,8.67,7.30,2021,아르헨티나,음식

Index(['IEM_NM', 'ALL_TOTAL_CO', 'MALE_RATE', 'FEMALE_RATE', 'ALL_N10S_RATE',
       'ALL_N20S_RATE', 'ALL_N30S_RATE', 'ALL_N40S_RATE', 'ALL_N50S_RATE',
       'REPRT_YEAR_CN', 'EXAMIN_COUNTRY_NM', 'CNTNTS_URL'],
      dtype='object')

In [47]:
#컨텐츠호감도인기도
display(df26)
print(df26.columns)

,POPULAR_DGREE_CN,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,REPRT_YEAR_CN,EXAMIN_COUNTRY_NM,CNTNTS_URL
0,대중적 인기,34,34.0,34.8,32.0,35.2,32.8,38.5,33.3,2020,중국,드라마
1,보통 인기,39,36.4,40.8,35.2,40.8,44.0,33.7,38.1,2020,중국,드라마
2,소수 마니아 인기,23,26.4,20.4,28.0,21.6,20.8,23.1,23.8,2020,중국,드라마
3,거의 이용 안함,4,3.2,4.0,4.8,2.4,2.4,4.8,4.8,2020,중국,드라마
4,대중적 인기,33,30.8,34.4,32.0,38.4,31.2,27.9,33.3,2020,중국,예능
...,...,...,...,...,...,...,...,...,...,...,...,...
3621,이용하는 사람이 거의 없다,12,14.5,9.5,14.0,9.0,9.0,18.2,0.0,2021,남아공,음식
3622,일부 매니아증에서 인기가 있는 상태,16,17.0,15.0,18.0,16.0,16.0,13.6,16.7,2021,남아공,음식
3623,일부 매니아층 뿐만 아니라 일반인들도 상당수 인지,33,33.5,32.0,31.0,27.0,33.0,35.2,75.0,2021,남아공,음식
3624,일반인에게 널리 알려져 있고 관련 상품이 판매됨,23,20.5,25.5,21.0,25.0,28.0,20.5,0.0,2021,남아공,음식
3625,일반인에게 널리 인기 있고 관련 상품의 판매가 원활,16,14.5,18.0,16.0,23.0,14.0,12.5,8.3,2021,남아공,음식

Index(['POPULAR_DGREE_CN', 'ALL_TOTAL_CO', 'MALE_RATE', 'FEMALE_RATE',
       'ALL_N10S_RATE', 'ALL_N20S_RATE', 'ALL_N30S_RATE', 'ALL_N40S_RATE',
       'ALL_N50S_RATE', 'REPRT_YEAR_CN', 'EXAMIN_COUNTRY_NM', 'CNTNTS_URL'],
      dtype='object')

In [48]:
#한국연상이미지
display(df27)
print(df27.columns)

,IMAGE_NM,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,REPRT_YEAR_CN,EXAMIN_COUNTRY_NM
0,"한국 음식(김치, 김, 볼고기 등)",16.4,16.4,18.4,16.0,19.2,10.1,16.7,2021,중국
1,드라마,10.8,12.0,14.4,11.2,12.8,9.0,2.8,2021,중국
2,뷰티 서비스(성형),7.2,10.0,9.6,8.0,10.4,6.7,5.6,2021,중국
3,뷰티 제품(화장품),4.0,7.6,8.0,8.0,4.0,1.1,8.3,2021,중국
4,한글(한국어),4.0,6.8,4.8,8.0,3.2,4.5,8.3,2021,중국
...,...,...,...,...,...,...,...,...,...,...
2271,북한,4.5,3.0,1.0,7.0,2.0,6.0,0.0,2015,남아공
2272,영화,4.5,2.5,3.0,10.0,1.0,0.0,0.0,2015,남아공
2273,태권도,4.5,1.0,1.0,1.0,5.0,1.2,17.6,2015,남아공
2274,관광지,3.5,2.0,5.0,1.0,2.0,2.4,5.9,2015,남아공
2275,한국전쟁,1.0,4.0,0.0,5.0,4.0,1.2,0.0,2015,남아공

Index(['IMAGE_NM', 'MALE_RATE', 'FEMALE_RATE', 'ALL_N10S_RATE',
       'ALL_N20S_RATE', 'ALL_N30S_RATE', 'ALL_N40S_RATE', 'ALL_N50S_RATE',
       'REPRT_YEAR_CN', 'EXAMIN_COUNTRY_NM'],
      dtype='object')

In [49]:
#제품및서비스사용의향
display(df17)
print(df17.columns)

,USE_CN,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,REPRT_YEAR_CN,EXAMIN_COUNTRY_NM
0,전반적 한국 제품 구매,4,3.57,3.53,3.53,3.43,3.55,3.65,3.78,2021,중국
1,한국 식품 구매,4,3.82,3.86,3.71,3.76,3.92,4.01,3.86,2021,중국
2,한국 의류 구매,4,3.65,3.64,3.43,3.58,3.73,3.84,3.78,2021,중국
3,한국 화장품 구매,4,3.74,3.86,3.66,3.69,3.84,3.98,4.08,2021,중국
4,한국 주류 구매,3,3.57,3.37,3.34,3.38,3.45,3.67,3.83,2021,중국
...,...,...,...,...,...,...,...,...,...,...,...
829,전반적 한국 제품 구매,4,3.57,3.43,3.44,3.60,3.51,3.41,3.47,2019,남아공
830,잘 모르는 한국 브랜드 구매,3,3.20,3.24,3.14,3.26,3.40,3.04,3.10,2019,남아공
831,한글 학습,3,3.15,3.29,3.36,3.51,3.25,2.73,2.77,2019,남아공
832,태권도 학습,3,3.30,3.33,3.39,3.48,3.44,3.03,2.73,2019,남아공
833,한국 전통문화 체험,4,3.53,3.66,3.66,3.76,3.52,3.36,3.60,2019,남아공

Index(['USE_CN', 'ALL_TOTAL_CO', 'MALE_RATE', 'FEMALE_RATE', 'ALL_N10S_RATE',
       'ALL_N20S_RATE', 'ALL_N30S_RATE', 'ALL_N40S_RATE', 'ALL_N50S_RATE',
       'REPRT_YEAR_CN', 'EXAMIN_COUNTRY_NM'],
      dtype='object')

In [50]:
#반한류
display(df16)
print(df16.columns)

,CAUSE_CN,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,REPRT_YEAR_CN,EXAMIN_COUNTRY_NM
0,지나치게 상업적임,15.9,23.5,21.6,16.3,21.4,18.2,16.0,2021,중국
1,한류스타?유명인의 부적절한 언행 때문,15.0,13.6,15.7,4.7,19.0,15.2,20.0,2021,중국
2,한국과의 정치?외교적 갈등 때문,12.4,9.9,3.9,18.6,11.9,15.2,8.0,2021,중국
3,한국의 국민성이 좋지 않음,11.5,11.1,9.8,9.3,21.4,3.0,12.0,2021,중국
4,자국 콘텐츠 산업보호 필요,11.5,9.9,15.7,4.7,2.4,27.3,4.0,2021,중국
...,...,...,...,...,...,...,...,...,...,...
744,남북 북단?북한의 국제적인위협 관련 보도 때문,12.1,8.3,11.8,5.9,14.3,0.0,33.3,2026,아르헨티나
745,한국과의 역사적인 관계 때문,9.1,4.2,11.8,0.0,7.1,0.0,33.3,2027,아르헨티나
746,지나치게 자극적?선정적,9.1,0.0,5.9,5.9,7.1,0.0,0.0,2028,아르헨티나
747,한국과의 정치?외교적 갈등 때문,6.1,0.0,0.0,0.0,7.1,16.7,0.0,2029,아르헨티나
748,기타,6.1,0.0,5.9,5.9,0.0,0.0,0.0,2030,아르헨티나

Index(['CAUSE_CN', 'MALE_RATE', 'FEMALE_RATE', 'ALL_N10S_RATE',
       'ALL_N20S_RATE', 'ALL_N30S_RATE', 'ALL_N40S_RATE', 'ALL_N50S_RATE',
       'REPRT_YEAR_CN', 'EXAMIN_COUNTRY_NM'],
      dtype='object')

In [51]:
#장르별저해요인
display(df19)
print(df19.columns)

,OBSTRC_FCTR_CN,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,REPRT_YEAR_CN,EXAMIN_COUNTRY_NM,CNTNTS_URL
0,"소재,스토리,장르 등이 진부?획일적",17,16.0,18.4,12.6,21.1,20.0,19.4,8.7,2021,중국,TV 드라마
1,자막?더빙 통한 시청 불편함,14,19.3,9.2,17.2,18.4,11.3,13.9,0.0,2021,중국,TV 드라마
2,한국어가 어렵고 생소함,8,8.0,7.9,10.3,9.2,8.8,2.8,0.0,2021,중국,TV 드라마
3,비용이 많이 듦,8,8.7,6.6,9.2,6.6,7.5,8.3,4.3,2021,중국,TV 드라마
4,한국적인 색채가 강해서,7,6.0,8.6,5.7,6.6,10.0,2.8,13.0,2021,중국,TV 드라마
...,...,...,...,...,...,...,...,...,...,...,...,...
5488,"식당,직원의 위생?청결 상태가 좋지 않아서",7,5.0,9.6,4.4,7.7,9.1,8.5,4.5,2019,남아공,한식
5489,불친절한 직원,7,7.6,7.0,8.9,10.8,7.3,4.3,0.0,2019,남아공,한식
5490,상차림?플레이팅?분위기가 마음에 들지 않아서,6,10.1,0.9,8.9,4.6,9.1,0.0,4.5,2019,남아공,한식
5491,자국과의 정치?외교적 관계로 인해,5,5.0,4.3,6.7,6.2,1.8,6.4,0.0,2019,남아공,한식
5492,기타,2,0.8,2.6,2.2,0.0,0.0,4.3,4.5,2019,남아공,한식

Index(['OBSTRC_FCTR_CN', 'ALL_TOTAL_CO', 'MALE_RATE', 'FEMALE_RATE',
       'ALL_N10S_RATE', 'ALL_N20S_RATE', 'ALL_N30S_RATE', 'ALL_N40S_RATE',
       'ALL_N50S_RATE', 'REPRT_YEAR_CN', 'EXAMIN_COUNTRY_NM', 'CNTNTS_URL'],
      dtype='object')